opencv_python==4.2.0.34
matplotlib==3.2.1
moviepy==1.0.3
oauth2client==4.1.3
google_auth_oauthlib==0.4.1
tensorflow_gpu==2.3.1
youtube_dl==2020.6.6
pandas==1.0.4
playsound==1.2.2
pynput==1.7.1
webdriver_manager==3.2.1
numpy==1.18.5
requests==2.24.0
selenium==3.141.0
keyboard==0.13.5
Keras==2.3.1
google_api_python_client==1.12.1
Pillow==7.2.0
protobuf==3.13.0
tensorflow==2.3.0
